In [1]:
import requests,bs4,smtplib,time,datetime

In [37]:
# Connection to website

URL='https://www.amazon.com/Data-Analyst-Gift-Analysis-Scientist/dp/B093DPVL5S/ref=sr_1_1?crid=28L14NK9IZWFI&keywords=data%2Banalysis%2Bshirt&qid=1653133926&sprefix=data%2Banaylsis%2Bshi%2Caps%2C191&sr=8-1&th=1&psc=1'

headers={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.67 Safari/537.36","Accept-Encoding": "gzip, deflate, br", "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9", "DNT":"1","Connection":"close","Upgrade-Insecure-Requests": "1"}

page=requests.get(URL,headers=headers)

soup1=bs4.BeautifulSoup(page.content, "html.parser")

soup2=bs4.BeautifulSoup(soup1.prettify(),'html.parser')

title=soup2.find(id='productTitle').get_text()

price = soup2.find('span', {'class':'a-offscreen'}).get_text()

print(title)
print(price)

                   Data Analyst Gift - Data Analysis Shirt - Data Scientist Present - Funny Data Science - Y'all Need Data - Unisex Tee


                     $22.50

In [38]:
price=price.strip()[1:]

title=title.strip()

In [43]:
import datetime

today=datetime.date.today()

print(today)

2022-05-21

In [39]:
import csv

In [44]:
'''header=['Title','Price','Date']
data=[title,price,today]

with open('AmazonScrapedDataset.csv','w',newline='',encoding='UTF8') as f:
    
    writer=csv.writer(f)
    
    writer.writerow(header)
    
    writer.writerow(data)
'''

In [50]:
import pandas as pd

df=pd.read_csv(r'C:\Users\User\Python Fundamentals\AmazonScrapedDataset.csv')

df.head()

                                               Title  Price        Date
0  Data Analyst Gift - Data Analysis Shirt - Data...   22.5  2022-05-21

In [53]:
def check_price():
    URL='https://www.amazon.com/Data-Analyst-Gift-Analysis-Scientist/dp/B093DPVL5S/ref=sr_1_1?crid=28L14NK9IZWFI&keywords=data%2Banalysis%2Bshirt&qid=1653133926&sprefix=data%2Banaylsis%2Bshi%2Caps%2C191&sr=8-1&th=1&psc=1'

    headers={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.67 Safari/537.36","Accept-Encoding": "gzip, deflate, br", "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9", "DNT":"1","Connection":"close","Upgrade-Insecure-Requests": "1"}

    page=requests.get(URL,headers=headers)

    soup1=bs4.BeautifulSoup(page.content, "html.parser")

    soup2=bs4.BeautifulSoup(soup1.prettify(),'html.parser')

    title=soup2.find(id='productTitle').get_text()

    price = soup2.find('span', {'class':'a-offscreen'}).get_text()
    
    price=price.strip()[1:]

    title=title.strip()
    
    import datetime

    today=datetime.date.today()

    import csv
    
    header=['Title','Price','Date']
    data=[title,price,today]

    with open('AmazonScrapedDataset.csv','a+',newline='',encoding='UTF8') as f:
    
        writer=csv.writer(f)

        writer.writerow(data)

In [ ]:
# Check the product every day for price 

while True:
    check_price()
    time.sleep(86400)

In [55]:
import pandas as pd

df=pd.read_csv(r'C:\Users\User\Python Fundamentals\AmazonScrapedDataset.csv')

df.head()

                                               Title  Price        Date
0  Data Analyst Gift - Data Analysis Shirt - Data...   22.5  2022-05-21
1  Data Analyst Gift - Data Analysis Shirt - Data...   22.5  2022-05-21
2  Data Analyst Gift - Data Analysis Shirt - Data...   22.5  2022-05-21
3  Data Analyst Gift - Data Analysis Shirt - Data...   22.5  2022-05-21